{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width= device - width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Your Real Estates Developer/ Consultant and Facility Manager'>
        <meta name = 'keywords' content = 'real estate, properties, homes, apartments, listings, lands'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'author' content = 'Whatsapp me on +2348074625742'>
        <meta name = 'robots' content = 'index, follow'>
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link rel = 'stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link rel = 'stylesheet' href ='{% static 'head_foot.css' %}'>
        <link rel = 'stylesheet' href ='{% static 'home.css' %}'>
        <link rel = 'stylesheet' href  ='{% static 'about.css' %}'>
        <title> {{ title }}</title>
    </head>

    <body>
        <div class = 'container'>
            <div class = 'pre_head'>
                <p> <span class = 'address'> <i class="bi bi-geo-alt"></i> Plot 1 Platform Road Lugbe FCT Abuja Nigeria.</span>
                    <span class = 'date'> {{ date|date:'H:i A' }} </span>
                    <span class = 'profile_links'>
                    <a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a>
		            <a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a>
		            <a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a>
		            <a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a>
                    </span>
                </p>
            </div>
            <hr/>
    <header>
	    <div class="logo">
            <a href='/'><img src="{% static 'platform_logo (2).png' %}" alt="Platform Logo" class = 'logo'></a>
        </div>
	    <nav>
            <input type = 'checkbox' class = 'mycheckbox' id='mycheck'>
            <label for='mycheck' class='checkbutton'>
                <i class="bi bi-list"></i>
            </label>
		    <ul>
			    <li><a href = '/' class = 'active'> Home </a></li>
			    <li><a href = '{% url 'about_us' %}'> About Us </a></li>
			    <li><a href = '{% url 'services' %}'> Services </a></li>
			    <li><a href = '#'> Listings </a></li>
			    <li><a href = '{% url 'blog' %}'> Blog </a></li>
			    <li><a href = '{% url 'contact' %}'> Contacts </a></li>
		    </ul>
	    </nav>

        <div class = 'quote'><p> Don’t wait to buy real estate, buy real estate and wait. </p></div>
    </header>

    
        <div class = 'brief_desc'>
                <div class = description>
                    <h3> Your Real Estates <br/>Developer/ Consultant <br/> and Facility Manager </h3>
                    <p> Welcome to Platform Estates and Facility Management! We are a team  <br/> of experienced and dedicated professionals, committed to helping our  <br/> clients buy, sell, and rent properties in the local area. With years of   <br/> experience in the industry, we have the knowledge and resources to  <br/> make the process of buying or selling landed properties as smooth  <br/> and stress-free as possible. </p>
                    <div class = 'contact'><a href = '{% url 'contact' %}'>Contact Us </a></div>
                </div>
                <div class = 'img_contain'>
                    <img src = '{% static 'about.webp' %}' alt='real_estate image'/>
                    <div class = 'middle'>
                        <div class = 'text'> The best investment on earth is earth. </div>
                    </div>
                </div> 
        </div>

        <div>
            <div class = 'counters'>
                <div class = 'counter_icon'>
                    <i class="bi bi-graph-up-arrow"></i>
                    <i class="bi bi-buildings"></i>
                    <i class="bi bi-person-arms-up"></i>
                    <i class="bi bi-stopwatch"></i>
                </div>
                <div class = 'counter_yrs'> 
                    <p> 10 yrs <sup>+</sup></p>
                    <p> 10 yrs <sup>+</sup></p>
                    <p> 10 yrs <sup>+</sup></p>
                    <p> 24 hrs <sup>+</sup></p>
                </div>
                <div class = 'counter_exp'>
                    <p> Thrive Growth </p>
                    <p> Annual Commitment </p>
                    <p> Satisfied Clients </p>
                    <p> Around the clock <br/> Unceasing Support  </p>
                </div>
            </div>
        </div>

        <div class = 'offer'>
            <div class = 'offer_content'>
                <h2> Empower <br/>Partnership </h2>
                <p> Discover the Distinction: Join Us as a Collaborator. <br/> Harness our specialized guidance, unparalleled assistance, and network amplification. <br/> Let's collaborate to unveil remarkable prospects and forge a thriving tomorrow. </p>
                <div class = 'contact'><a href = '{% url 'contact' %}'>Contact Us </a></div>
            </div>
        </div>

        <div class = 'vision'>
            <div class = 'vision_1st'>
                <h3> Our Vision </h3>
                <p> Empowering Futures: Redefining Real Estate. At Platform Estate, we <br/> are catalysts of positive change. Through innovation and excellence, we <br/> shape transformative experiences that empower individuals and <br/> communities. Together, let’s build a brighter future in real estate. </p>
            </div>
            <div class = 'vision_2nd'>
                <img src = '{% static 'vision.jpg' %}' alt = 'Vision Image'/>
                <div class = 'vision_3rd'>
                    <h3> Land for Everyone </h3>
                    <p> At Platform Estates, we envision making land ownership accessible <br/> to all, fostering prosperity and community development through transparent <br/> processes and personalized guidance. </p>
                    
                    <h3> Long Term investment </h3>
                    <p> Our vision at Platform Estates: To ignite enduring prosperity. <br/> Through strategic foresight, integrity, and personalized service, we aim to <br/> create a legacy of sustainable growth, enriching the communities we serve.</p>
                
                    <h3> Competitive Price </h3>
                    <p>  At Platform Estates, we aim to set the standard for value. <br/> Through rigorous market analysis, innovative strategies, and a <br/> commitment to fairness, we provide competitive prices that empower clients <br/> to achieve their goals and secure optimal returns on investments. </p>
                </div>
            </div>
        </div>

        <div class = 'blog'>
            <h2> Our Latest News/Insight </h2>
            <div class = 'blog_container'>
            {% block posts %}
                {% for post in posts %}
                <div class = 'blog_post'>
                    <h3><a href = '{% url 'blog_detail' post.pk %}'>{{ post.title }}</a></h3>
                    <div class = 'small'><small>
                        {{ post.date_created.date }}
                    </small></div>
                    <div class = 'blog_content'>
                        <p> {{ post.body | slice:'350' | safe }} <a href = '{% url 'blog_detail' post.pk %}'> Read More... </a></p>
                    </div>
                </div>
                {% endfor%}
            {% endblock posts%}
            </div>
        </div>

    <footer>
        <div class = 'row'>
                
            <div class = 'col'> 
                <img src = '{% static 'platform_logo.PNG' %}' alt = 'Logo' class = 'logo'>
                <p> Platform Estates, a leading real estate firm in Abuja, offers comprehensive real estate services. With an experienced team, we excel in sales, purchases, rentals, and property management.</p>
            </div>
    
            <div class = 'col'>  
                <h3> Office Address <div class = 'underline'><span></span></div></h3>
                <p> Plot 1 Platform Road </p>
                <p> by Conoil Filling Station off Airport Road Lugbe  </p>
                <p> FCT Abuja Nigeria. </p>
                <p class = 'email_id'> info@platformestates.com </p>
                <h4><i class = "bi bi-telephone-fill"></i> +234 915 555 5531 </h4>
            </div>
                
            <div class = 'col'> 
                <h3> Links <div class = 'underline'><span></span></div></h3>
                <ul>
                   <li><a href = '/'> Home </a></li>
                   <li><a href = '{% url 'about_us' %}'> About Us </a></li>
                   <li><a href = '{% url 'services' %}'> Services </a></li>
                   <li><a href = '#'> Listings </a></li>
                   <li><a href = '{% url 'blog' %}'> Blog </a></li>
                   <li><a href = '{% url 'contact' %}'> Contacts </a></li>
                </ul>
            </div>
    
            <div class = 'col'>
                <h3> Newsletter <div class = 'underline'><span></span></div></h3> 
                <form action="" method="post">
                    {% csrf_token %}
                    <i class='bx bx-envelope'></i>
                    <input type='email' name='email' maxlength='254' required id='id_email' placeholder = 'Enter Your Email'>
                    <button type = 'submit'> <i class='bx bx-right-arrow-alt'></i> </button>
                </form> 
                    
                <div class = 'social_icons'>
                    <a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a>
                    <a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a>
                    <a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a>
                    <a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a>
                 </div>
            </div>
    
        </div>
        <hr/>
            <p class = 'copyright'> Platform Estates and Facility Management Limited &copy; {{ date|date:'Y' }} - All Rights Reserved </p>
    </footer>
    </body>
</html>
