{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Your Real Estates Developer/ Consultant and Facility Manager'>
        <meta name = 'keywords' content = 'real estate, properties, homes, apartments, listings, lands'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'author' content = 'Whatsapp me on +2348074625742'>
        <meta name = 'robots' content = 'index, follow'>
        <link rel = 'stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'src/npx tailwindcss -i ./static/src/input.css -o ./static/src/output.cssoutput.css' %}">
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">
        <link rel = 'stylesheet' href ="{% static 'home2.css' %}">

        <script src="https://cdn.tailwindcss.com"></script>

        <title> {{ title }}</title>
    </head>

    <body class='bg-[#2C3E50]'>
        <header class="bg-center h-screen backdrop-blur-sm mb-2 md:mb-4">
            <div class='hidden md:flex justify-between mx-3'>
                <div class='font-magnolia text-red-500 mt-4'><p><i class="bi bi-geo-alt"></i> Plot 1 Platform Road Lugbe FCT Abuja Nigeria.</p></div>
                <div class='flex justify-evenly w-1/4 text-red-500 mt-4'>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a></p>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a></p>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a></p>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a></p>
                </div>
            </div>
            <nav class="flex justify-between items-center w-[92%]  mx-auto">
                <div class="m-4 ml-8 w-2/4 md:ml-4">
                    <a href='/'><img src="{% static 'platform_logo (2).png' %}" alt="Platform Logo" class='w-2/4 h-auto'></a>
                </div>

                <div class="nav-links duration-500 w-full pl-4 bg-white bg-opacity-80 md:bg-transparent absolute md:static min-h-[60vh] md:min-h-fit left-0 top-[-100%]">
                    <ul class="flex md:flex-row flex-col md:justify-evenly md:gap-[1vw] gap-4 mt-4 md:mt-0 font-magnolia text-red-500">
                        <li>
                            <a class='hover:text-white text-xl' href = '/'> Home </a>
                        </li>
                        
                        <li>
                            <a class='hover:text-white text-xl' href = "{% url 'about_us' %}"> About Us </a>
                        </li>
                        <li>
                            <a class='hover:text-white text-xl' href = "{% url 'services' %}"> Services </a>
                        </li>
                        <li class='relative group z-20'>
                            <a class='hover:text-white text-xl' href = '#'> properties </a>
                            <ul class="absolute left-0 hidden group-hover:block group-focus-within:block bg-inherit mt-2 shadow-lg rounded-lg w-40 z-20">
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'idu' %}">Idu</a></li>
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'kuje' %}">Kuje</a></li>
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'phase5' %}">Phase 5</a></li>
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'phase6' %}">Phase 6</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class='hover:text-white text-xl' href = "{% url 'contact' %}"> Contacts </a>
                        </li>
                    </ul>
                </div>
                <div class='text-red-500 absolute right-10'>
                    <i onclick="onToggleMenu(this)" name="menu" class="bi bi-list text-2xl cursor-pointer md:hidden"></i>
                </div>
            </nav>
            <div class='font-magnolia text-red-500 absolute bottom-10 left-3 md:left-5 p-4 cursor-pointer'>
                <p class='whitespace-pre-line'> 
                    Unlock your dreams, invest in real estate, discover endless possibilities, 
                    find your perfect property, and make your mark with us.
                </p>
                <div class='mt-2'>
                    <button class='bg-red-500 hover:bg-red-600 text-white font-magnolia cursor-pointer py-2 px-4 rounded'><a href="{% url 'contact' %}">Contact Us</a></button>
                </div>
            </div>
        </header>

        <section>
            <div class='relative overflow-x-hidden'>

                <div class='block md:flex justify-between w-full shadow-lg rounded-md text-[#ccc] mb-4 md:mb-8 font-magnolia'>
                    <div class='flex items-center justify-center w-full md:w-1/2'>
                        <div class='m-2'>
                            <h2 class='text-xl text-red-500'> Your Real Estates Developer, Consultant and Facility Manager </h2>
                            <p class='whitespace-pre-line'>
                                Welcome to Platform Estates and Facility Management! We are a team
                                of experienced and dedicated professionals, committed to helping our
                                clients buy, sell, and rent properties in the local area. With years of
                                experience in the industry, we have the knowledge and resources to
                                make the process of buying or selling landed properties as smooth
                                and stress-free as possible.
                            </p>
                        </div>
                    </div>
                    <div class="w-full md:w-2/4 rounded-lg m-1">
                        <img src="{% static 'affordable2.jpeg' %}" alt="A House" class='md:pl-6 w-4/4 h-auto rounded-lg shadow-xl'></a>
                    </div>
                </div>

                <div class='relative w-full h-[30%] font-magnolia flex text-[#ccc] mb-4'>
                    <div class='flex justify-center items-center w-full'>
                        <div class='relative text-center'>
                                <h2 class='text-2xl text-red-500'> Our Partner </h2>
                                <h2 class='text-lg'> We are open for partnership to any organization looking forward to partner with us.</h2>
                        </div>
                    </div>
                </div>

                <hr class='w-[20%] mx-auto border-red-500 mb-4'/>

                <div class='font-magnolia flex text-[#ccc] mb-4 w-full text-2xl'>
                    <div class='mx-auto'> Our Project </div>
                </div>

                <div class='carousel flex overflow-x-auto font-magnolia text-red-500 m-2 mb-4 w-full'>
                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '1.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Idu Land for Sale </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '4.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Site Under Construction </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '3.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Phase 1 Sabon Lugbe </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '5.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Site Under Construction </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '6.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Building Construction </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '7.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Building Construction </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '8.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Phase 2 Sabon Lugbe </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '9.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Site Under Construction </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '12.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Phase 6 Excavation </p>
                        </div>
                    </div>

                    <div class='w-[60%] hover:w-[65%] h-[70%] md:w-[40%] md:hover:w-[45%] md:h-[50%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <img src="{% static '13.jpg'%}" alt='img' class='w-full'/>
                        <div class = 'flex justify-center items-center h-full'>
                            <p class='p-2'> Phase 6 Site Excavation </p>
                        </div>
                    </div>
                </div>

                <div class='partner relative flex items-center justify-center h-[60%] w-full text-[#333] font-magnolia mb-4'>
                    <!-- Background Blur and Dark Overlay -->
                    <div class="absolute inset-0 bg-black opacity-10"></div>
                    <div class="absolute inset-0 backdrop-blur-sm"></div>
                    <div class='m-4 relative text-center'>
                        <h2 class='text-lg md:text-2xl mb-2 text-red-500'>The Best Partner To Find And Buy Landed Properties. </h2>
                        <p class='whitespace-pre-line mb-4 text-[#ccc] mx-auto'>
                            We will guide you through the entire buying process, from finding and
                            touring properties to negotiating the best price and closing the deal.
                        </p>
                        <div class='flex justify-center'>
                            <button class='bg-red-500 hover:bg-red-600 text-white font-magnolia cursor-pointer py-2 px-4 rounded mb-8'><a href="{% url 'contact' %}">Contact Us</a></button>
                        </div>
                    </div>
                </div>
                <div class='font-magnolia bg-[#243443]'>
                    <div class='text-center mb-4'>
                        <h2 class='text-red-500 text-lg md:text-2xl'> Featured Properties </h2>
                        <p class='text-[#ccc]'> Our company have extensive experience in the commercial real estate market and can assist with the </p>
                        <p class='text-[#ccc]'> purchase, sale, or lease of commercial properties.</p>
                    </div>
                    <div class='block md:flex justify-between m-8 ml-8 mb-2'>
                        <div class='w-4/4 xl:w-2/4'>
                            <img src="{% static 'idu.jpg'%}" alt='flyer' class='w-4/4 h-[80%] rounded-sm'/>
                        </div>
                        <div class='mx-auto xl:ml-12 text-[#ccc]'>
                            <h3 class='text-red-500 text-xl mb-2 md:mb-8 md:text-2xl'> Platform Estates Idu Industrial Area Abuja </h3>
                            <p class='text-lg mb-2 xl:mb-8'><i class="bi bi-geo-alt-fill"></i> Close to Nigeria Civil Servant Housing Estates </p>
                            <p class='text-lg mb-2 xl:mb-8'><i class="bi bi-telephone-fill"></i> +234 915 555 5531 </p>

                            <h5 class='text-red-500 text-xl mb-2 md:mb-8'> Unit details </h5>
                            <p class='text-lg mb-2 xl:mb-8'><i class="bi bi-phone-landscape-fill"></i> 400sqm & 300sqm </p>
                            <p class='text-lg mb-2 xl:mb-8'><i class="bi bi-house-down-fill"></i> Bungalow Penthouse with BQ </p>
                            <p class='text-lg mb-2 xl:mb-8'><i class="bi bi-tag-fill"></i> #3.5 Million - #4.5 Million </p>
                        </div>
                    </div>

                    <div class='block xl:flex justify-evenly m-2'>
                        <div class='m-2 rounded-sm'>
                            <figure>
                                <img src = "{% static 'phase_6.webp'%}"/>
                                <figcaption class='text-[#ccc] text-center'> Phase 6 Behind Aco </figcaption>
                            </figure> 
                        </div>
                        <div class='m-2 rounded-sm'>
                            <figure>
                                <img src = "{% static 'phase_1.webp'%}" class='rounded-sm'/>
                                <figcaption class='text-[#ccc] text-center'> Phase 1 Sabon Lugbe </figcaption>
                            </figure>
                        </div>
                            <figure>
                                <img src = "{% static 'phase_2.webp'%}" class='rounded-sm'/>
                                <figcaption class='text-[#ccc] text-center'> Phase 2 Sabon Lugbe </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                
                <div class='block md:flex justify-evenly font-magnolia text-[#ccc] m-2 mb-4'>
                    <div>
                        <img src="{% static 'land1.webp'%}" alt='land owner' class='shadow-lg'/>
                    </div>
                    <div>
                        <h2 class='text-xl text-red-500'> Platform Estates: Your Path to Landownership</h2>
                        <p class='whitespace-pre-line'> 
                            At Platform Estates, we bring your dreams to life.  
                            Become a landowner effortlessly and invest in our properties with flexible payment plans.
                        </p>
                        <div class='flex justify-between mt-10'>
                            <h2><i class="bi bi-house-add text-5xl text-red-500"></i> Estate Development </h2>
                            <h2><i class="bi bi-building-check text-5xl text-red-500"></i> Estate Management </h2>
                        </div>
                        <div class='flex justify-between mt-10'>
                            <h2><i class="bi bi-pin-map text-5xl text-red-500"></i> Land Purchase </h2>
                            <h2><i class="bi bi-geo-alt text-5xl text-red-500"></i> Leasing Land Space </h2>
                        </div>
                    </div>
                </div>
                <hr class='w-[20%] mx-auto border-red-500 mb-4'/>
                <h2 class='font-magnolia text-3xl mb-4 text-center text-red-500'> Testimonies </h2>
                <div class='carousel flex overflow-x-auto font-magnolia text-red-500 m-2 mb-4 w-full'>
                    <div class='w-[50%] h-[70%] md:w-[30%]  md:h-[40%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <div class = 'justify-center items-center h-full'>
                            <p class='p-2 text-center'> Choosing Platform Estates was the best decision I made in my quest for the perfect land property. </p>

                            <h2 class='text-center'><small> Mr Chikeziem Chidi </small></h2>
                        </div>
                    </div>

                    <div class='w-[50%] h-[70%] md:w-[30%]  md:h-[40%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <div class = 'justify-center items-center h-full'>
                            <p class='p-2 text-center'> Platform Estates made our dreams of owning land a reality with their exceptional service and expertise. </p>

                            <h2 class='text-center'><small> Mrs. Okeke Joan </small></h2>
                        </div>
                    </div>

                    <div class='w-[50%] h-[70%] md:w-[30%]  md:h-[40%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <div class = 'justify-center items-center h-full'>
                            <p class='p-2 text-center'> Thanks to Platform Estates, I found My ideal piece of land quickly and effortlessly. </p>

                            <h2 class='text-center'><small> Alh Muhammed Ali </small></h2>
                        </div>
                    </div>

                    <div class='w-[50%] h-[70%] md:w-[30%]  md:h-[40%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <div class = 'justify-center items-center h-full'>
                            <p class='p-2 text-center'> Platform Estates made owning land easy and stress-free with their dedication and professionalism.</p>

                            <h2 class='text-center'><small> Mr Franklin Audu </small></h2>
                        </div>
                    </div>

                    <div class='w-[50%] h-[70%] md:w-[30%]  md:h-[40%] bg-white shadow-lg mb-2 ml-2 rounded-md flex-none'>
                        <div class = 'justify-center items-center h-full'>
                            <p class='p-2 text-center'> The staff at Platform Estates provided exceptional service, Their dedication and professionalism truly stood out. </p>

                            <h2 class='text-center'><small> Mrs Augustina Ibrahim </small></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="elfsight-app-7280a001-6f91-474c-a873-d4897e2079cd" data-elfsight-app-lazy></div>

        <footer class='relative w-full'>
        <!-- Background Blur and Dark Overlay -->
        <div class="absolute inset-0 bg-black opacity-20"></div>
        <div class="absolute inset-0 backdrop-blur-sm"></div>
        <!-- content container -->
        <div class='relative footer h-[100%] md:h-[60vh] items-center md:flex flex-col justify-center'>
            <div class='m-2 w-full block md:flex justify-evenly  font-magnolia text-red-500'>
                <div class='w-4/4 mb-5'>
                    <img src = "{% static 'platform_logo.PNG' %}" alt = 'Logo' class = 'logo rounded-full w-1/4 mx-5'>
                    <p class='whitespace-pre-line'>
                        Platform Estates, a leading real estate
                        firm in Abuja, offers comprehensive real
                        estate services. With an experienced
                        team, we excel in sales, purchases,
                        rentals, and property management.
                    </p>
                </div>

                <div class='mb-5'>
                    <h3 class='text-lg text-white pb-2'> Office Address </h3>
                    <p class='whitespace-pre-line'>
                        Plot 1 Platform Road
                        By Conoil Filling Station
                        Off Airport Road Lugbe
                        FCT Abuja Nigeria.
                        info@platformestates.com
                        <i class = "bi bi-telephone-fill"></i> +234 915 555 5531
                        <i class = "bi bi-telephone-fill"></i> +234 812 090 0099
                    </p>
                </div>

                <div class='mb-5'>
                    <h3 class='text-lg text-white pb-2'> Links </h3>
                    <ul>
                        <li class='pb-1 hover:text-white'><a href = '/'> Home </a></li>
                        <li class='pb-1 hover:text-white'><a href = "{% url 'about_us' %}"> About Us </a></li>
                        <li class='pb-1 hover:text-white'><a href = "{% url 'services' %}"> Services </a></li>
                        <li class='pb-1 hover:text-white'><a href = "{% url 'idu' %}"> Properties </a></li>
                        <li class='pb-1 hover:text-white'><a href = "{% url 'blog' %}"> Blog </a></li>
                        <li class='pb-1 hover:text-white'><a href = "{% url 'contact' %}"> Contacts </a></li>
                    </ul>
                </div>

                <div class='mb-5'>
                    <h3 class='text-lg text-white pb-2'> Newsletter </h3> 
                    <form action="" method="post" class='w-3/4 md:w-full text-red-500 outline-none'>
                        {% csrf_token %}
                        {{ newsletter.email }}
                        <button class='absolute text-2xl' type = 'submit'> <i class='bx bx-right-arrow-alt'></i> </button>
                    </form> 
                    
                    <div class='flex justify-evenly text-red-500 mt-5'>
                        <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a></p>
                        <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a></p>
                        <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a></p>
                        <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a></p>                
                    </div>
                </div>
            </div>
        </div>

        <div class="relative z-20 block md:flex flex-col md:items-center">
            <hr class='border-red-500 w-full md:w-3/4'/>
            <p class = 'copyright font-magnolia text-red-500'>
                Platform Estates and Facility Management Limited &copy; {{ date|date:'Y' }} - All Rights Reserved
            </p>
        </div>

        </footer>

        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>

        <!-- This script below is for the navbar-->
        <script>
            const navLinks = document.querySelector('.nav-links')
            function onToggleMenu(e){
                e.name = e.name === 'menu' ? 'close' : 'menu'
                navLinks.classList.toggle('top-[0%]')
            }
        </script>
    </body>
</html>