{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width= device - width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Your Real Estates Developer/ Consultant and Facility Manager'>
        <meta name = 'keywords' content = 'real estate, properties, homes, apartments, listings, lands'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'robots' content = 'index, follow'>
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link rel = 'stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link rel = 'stylesheet' href ='{% static 'head_foot.css' %}'>
        <link rel = 'stylesheet' href ='{% static 'home.css' %}'>
        <title> {{ title }}</title>
    </head>

    <body>
        <div class = 'container'>
            <div class = 'pre_head'>
                <p> <span class = 'address'>Plot 1 Platform Road Lugbe FCT Abuja Nigeria.</span>
                    <span class = 'date'> {{ date|date:'H:i A' }} </span>
                    <span class = 'profile_links'>
                    <a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a>
		            <a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a>
		            <a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a>
		            <a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a>
                    </span>
                </p>
            </div>
            <hr/>
    <header>
	    <div class="logo">
            <a href='/'><img src="{% static 'platform_logo (2).png' %}" alt="Platform Logo" class = 'logo'></a>
        </div>
	    <nav>
            <input type = 'checkbox' class = 'mycheckbox' id='mycheck'>
            <label for='mycheck' class='checkbutton'>
                <i class="bi bi-list"></i>
            </label>
		    <ul>
			    <li><a href = '/' class = 'active'> Home </a></li>
			    <li><a href = '#'> About Us </a></li>
			    <li><a href = '#'> Services </a></li>
			    <li><a href = '#'> Listings </a></li>
			    <li><a href = '#'> Blog </a></li>
			    <li><a href = '#'> Contact </a></li>
		    </ul>
	    </nav>

        <div class = 'quote'><p> Unlock your dreams, invest in real estate, discover endless possibilities, find your perfect property, and make your mark with us. </p></div>
    </header>

    
        <div class = 'brief_desc'>
                <div class = description>
                    <h3> Your Real Estates <br/>Developer/ Consultant <br/> and Facility Manager </h3>
                    <p> Welcome to Platform Estates and Facility Management! We are a team  <br/> of experienced and dedicated professionals, committed to helping our  <br/> clients buy, sell, and rent properties in the local area. With years of   <br/> experience in the industry, we have the knowledge and resources to  <br/> make the process of buying or selling landed properties as smooth  <br/> and stress-free as possible. </p>
                    <div class = 'contact'><a href = '#'>Contact Us </a></div>
                </div>
                <div class = 'img_contain'>
                    <img src = '{% static 'desc_img.jpg' %}' alt='real_estate image'/>
                    <div class = 'middle'>
                        <div class = 'text'> The best investment on earth is earth. </div>
                    </div>
                </div> 
        </div>
    

    
        <div class = 'partnership'>
            <div class = 'partner'>
                <div class = 'official'>
                    <p> OFFICIAL PARTNER </p>
                </div>
                
                <h2 class = 'our'> Our Partner </h2>
                
                <div class='open'>
                    <p> We are open for partnership to any organization looking forward to partner with us. </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class = 'services'>
            <div class='service'>
                <h2> Our Project</h2>
            <div class="carousel">
                
                <div class = 'polaroid'>
                    <img src  = '{% static '1.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Idu Land for Sale </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '2.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Sabon Lugbe </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '3.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 1 Sabon Lugbe </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '4.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 1 site under Construction </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '5.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 1 building Construction </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '6.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Building Construction </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '7.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Building Construction </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '8.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 2 Sabon Lugbe </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '9.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 2 Building Construction </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '10.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 5 Land for Sale </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '11.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 6 Land for Sale </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '12.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 6 Excavation </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '13.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Phase 6 Building Foundation </p>
                    </div>
                </div>

                <div class = 'polaroid'>
                    <img src  = '{% static '14.jpg' %}' alt = 'image'>
                    <div class = 'container'>
                        <p> Land for Sale</p>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class = 'details'>
            <div class = 'det'>
                <h2> Our Services </h2>
                <p> We are a full-service real estate company dedicated to providing top-notch service to our clients.</p>
                <div class = 'learn'>
                      <a href = '#'> Learn More </a>
                </div>
                <div class = 'render'>
                    <h3> <i class="bi bi-house-add"></i> Affordable Housing </h3>
                    <p>
                        Looking for an affordable place to call home? Look no further! Platform Estates and facility management offers a variety of affordable housing options to fit your budget. 
                    </p>
                </div>
                <div class = 'render'>
                    <h3><i class="bi bi-pin-map"></i>  Purchase of Land </h3>
                    <p>
                        Are you looking to invest in land? We are offering a variety of plots for sale in prime locations. From residential to commercial, we have options to suit your needs. 
                    </p>
                </div>
                <div class = 'render'>
                    <h3> <i class="bi bi-building-check"></i> Management Of Estates</h3>
                    <p>
                        Looking for reliable and efficient management of your estate? Look no further! 
                    </p>
                </div>
                <div class = 'render'>
                    <h3> <i class="bi bi-geo-alt"></i> Leasing Land Space </h3>
                    <p>
                        Unlock prime opportunities with our land leasing services. Tailored solutions for your growth and success. 
                    </p>
                </div>
            </div>
        </div>

        <div class = 'property'>
            <div class = 'featured_write'>
                <h3> Featured Properties </h3>
                <p> Our company have extensive experience in the commercial real estate market and can assist with the </p>
                <p> purchase, sale or lease of commercial land properties.</p>
            </div>
            <div class = 'idu_flyer'>
                <img src='{% static 'idu.webp'%}' alt='Land-flyer'/>
                <div class = 'idu_flyer_write'>
                    <h3> Platform Estates Idu Industrial Area Abuja </h3>
                    <p><i class="bi bi-geo-alt-fill"></i> Close to Nigeria Civil Servant Housing Estates </p>
                    <p><i class="bi bi-telephone-fill"></i> +234 915 555 5531 </p>

                    <h5> Unit details </h5>
                    <p><i class="bi bi-phone-landscape-fill"></i> 400sqm & 300sqm </p>
                    <p><i class="bi bi-house-down-fill"></i> Bungalow Penthouse with BQ </p>
                    <p><i class="bi bi-tag-fill"></i> #1.5 Million - #2 Million </p>
                </div>
            </div>
            <div class = 'all_flyer'>
                <div>
                    <figure>
                        <img src = '{% static 'phase_6.webp'%}'/>
                        <figcaption> Phase 6 Behind Aco </figcaption>
                    </figure> 
                </div>
                <div>
                    <figure>
                        <img src = '{% static 'phase_1.webp'%}'/>
                        <figcaption> Phase 1 Sabon Lugbe </figcaption>
                    </figure>
                </div>
                <div>
                    <figure>
                        <img src = '{% static 'phase_2.webp'%}'/>
                        <figcaption> Phase 2 Sabon Lugbe </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class = 'benefit'>
            <div>
                <h3> Our Benefits </h3>
                <p>
                    At Platform Estate and Facility Management we understand that the concept <br/> of properties is predicated on the many changes life can bring, and it <br/> doesn’t start or end with the transaction.
                </p>
            </div>
            <div>
                <i class="bi bi-transparency"></i>
                <h4> Legal Legitimacy and Transparency </h4>
                <p>
                    Choosing Platform Estates ensures complete legal legitimacy <br/> and transparency throughout your land purchase, <br/> giving you confidence and peace of mind.
                </p>
            </div>
            <div>
                <i class="bi bi-headset"></i>
                <h4> Customer Support </h4>
                <p>
                    Platform Estates offers unparalleled customer support, guiding you <br/> seamlessly through every stage of your land purchase with personalized <br/> assistance and prompt responses to your needs.
                </p>
            </div>
            <div>
                <i class="bi bi-door-open-fill"></i>
                <h4> Variety of Options </h4>
                <p>
                    Discover diverse land options with Platform Estates, <br/> ensuring you find the perfect property to match your needs and <br/> preferences.
                </p>
            </div>
        </div>
    
    {%comment%}
    <footer>
        <div class = 'row'>
            
            <div class = 'col'> 
		    <img src = '{% static 'platform_logo.PNG' %}' alt = 'Logo' class = 'logo'>
                <p> Platform Estates, a leading firm in Abuja, offers comprehensive real estate services. With an experienced team, we excel in sales, purchases, rentals, and property management.</p>
            </div>

            <div class = 'col'>  
                <h3> Office <div class = 'underline'><span></span></div></h3>
                <p> Plot 1 Platform Road </p>
                <p> by Conoil Filling Station off Airport Road Lugbe  </p>
                <p> FCT Abuja Nigeria. </p>
                <p class = 'email_id'> info@platformestates.com </p>
                <h4> +234 915 555 5531 </h4>
            </div>
            
            <div class = 'col'> 
                <h3> Links <div class = 'underline'><span></span></div></h3>
                <ul>
                    <li><a href = '/'> Home </a></li>
                    <li><a href = '#'> About Us </a></li>
                    <li><a href = '#'> Listings </a></li>
                    <li><a href = '#'> Blog </a></li>
                    <li><a href = '#'> Contacts </a></li>
                </ul>
            </div>

            <div class = 'col'>
                <h3> Newsletter <div class = 'underline'><span></span></div></h3> 
                <form>
                    <i class='bx bx-envelope'></i>
                    <input type = 'email' placeholder='Enter Your Email' required>
                    <button type = 'submit'> <i class='bx bx-right-arrow-alt'></i> </button>
                </form> 
                
                <div class = 'social_icons'>
                    <a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a>
		            <a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a>
		            <a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a>
		            <a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>

        </div>
        <hr/>
        <p class = 'copyright'> Platform Estates and Facility Management Limited &copy; {{ date|date:'Y' }} - All Rights Reserved </p>
    </footer>
    {% endcomment %}
</body>
</html>

