{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name = 'viewport' content = 'width= device - width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Your Real Estates Developer/ Consultant and Facility Manager'>
        <meta name = 'keywords' content = 'real estate, properties, homes, apartments, listings, lands'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'robots' content = 'index, follow'>
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
        <link rel = 'stylesheet' href ='{% static 'head_foot.css' %}'>
        <title> {{ title }} </title>
    </head>

    <body>
        <header>
        <input type = 'checkbox' id = 'check'>
        <label for = 'check'>
            <i class='bx bx-menu' id = 'btn'></i>
            <i class='bx bxs-x-square' id = 'cancel'></i>
        </label>

        <div class = 'sidebar'>
            <h3> Menu </h3>

            <a href = '#' class = 'active'>
                <i class="fa-solid fa-house"></i>
                <span> Home </span>
            </a>

            <a href = '#'>
                <i class="fa-solid fa-circle-question"></i>
                <span> About Us </span>
            </a>

            <a href = '#'>
                <i class="fa-regular fa-sliders"></i>
                <span> Services </span>
            </a>

            <a href = '#'>
                <i class="fa-solid fa-list-check"></i>
                <span> Listings </span>
            </a>

            <a href = '#'>
                <i class="fa-solid fa-blog"></i>
                <span> Blog </span>
            </a>

            <a href = '#'>
                <i class="fa-solid fa-envelope"></i>
                <span> Contacts </span>
            </a>

            <a href = '#'>
                <i class='bx bxs-home-alt-2'></i>
                <span> Privacy Policy </span>
            </a>

        </div>
    </header>
    </body>

    <footer>
        <div class = 'row'>
            
            <div class = 'col'> 
		    <img src = '{% static 'platform_logo.PNG' %}' alt = 'Logo' class = 'logo'>
                <p> Platform Estates, a leading firm in Abuja, offers comprehensive real estate services. With an experienced team, we excel in sales, purchases, rentals, and property management.</p>
            </div>

            <div class = 'col'> 
                <h3> Office <div class = 'underline'><span></span></div></h3>
                <p> Plot 1 Platform Road </p>
                <p> by Conoil Filling Station off Airport Road Lugbe  </p>
                <p> FCT Abuja Nigeria. </p>
                <p class = 'email_id'> info@platformestates.com </p>
                <h4> +234 915 555 5531 </h4>
            </div>
            
            <div class = 'col'> 
                <h3> Links <div class = 'underline'><span></span></div></h3>
                <ul>
                    <li><a href = '#'> Home </a></li>
                    <li><a href = '#'> About Us </a></li>
                    <li><a href = '#'> Listings </a></li>
                    <li><a href = '#'> Blog </a></li>
                    <li><a href = '#'> Contacts </a></li>
                </ul>
            </div>

            <div class = 'col'>
                <h3> Newsletter <div class = 'underline'><span></span></div></h3> 
                <form>
                    <i class='bx bx-envelope'></i>
                    <input type = 'email' placeholder='Enter Your Email' required>
                    <button type = 'submit'> <i class='bx bx-right-arrow-alt'></i> </button>
                </form> 
                
                <div class = 'social_icons'>
                    <a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a>
		            <a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a>
		            <a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a>
		            <a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>

        </div>
        <hr/>
        <p class = 'copyright'> Platform Estates and Facility Management Limited &copy; {{ date|date:'Y' }} - All Rights Reserved </p>
    </footer>
</html>

