{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta name = 'viewport' content = 'width= device - width, initial-scale = 1'/>
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Your Real Estates Developer/ Consultant and Facility Manager'>
        <meta name = 'keywords' content = 'real estate, properties, homes, apartments, listings, lands'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'robots' content = 'index, follow'>
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href ='{% static 'head_foot.css' %}'>
        <title> {{ title }} </title>
    </head>

    <body>
        <header>

        </header>
    </body>

    <footer>
        <div class = 'row'>
            
            <div class = 'col'> 
                <img src = '' alt = 'Logo' class = 'logo'>
                <p> Platform Estates, a leading firm in Abuja, offers comprehensive real estate services. With an experienced team, we excel in sales, purchases, rentals, and property management.</p>
            </div>

            <div class = 'col'> 
                <h3> Office </h3>
                <p> Plot 1 Platform Road </p>
                <p> by Conoil Filling Station off Airport Road Lugbe  </p>
                <p> FCT Abuja Nigeria. </p>
                <p class = 'email_id'> info@platformestates.com </p>
                <h4> +234 915 555 5531 </h4>
            </div>
            
            <div class = 'col'> 
                <h3> Links </h3>
                <ul>
                    <li><a href = '#'> Home </a></li>
                    <li><a href = '#'> About Us </a></li>
                    <li><a href = '#'> Listings </a></li>
                    <li><a href = '#'> Blog </a></li>
                    <li><a href = '#'> Contacts </a></li>
                </ul>
            </div>

            <div class = 'col'>
                <h3> Newsletter</h3> 
                <form>
                    <input type = 'email' placeholder='Enter Your Email' required>
                </form>   
            </div>

        </div>
    </footer>
</html>

