{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'description' content = 'Your Real Estates Developer/ Consultant and Facility Manager'>
        <meta name = 'keywords' content = 'real estate, properties, homes, apartments, listings, lands'>
        <meta name = 'author' content = 'PythoGenius'>
        <meta name = 'author' content = 'Whatsapp me on +2348074625742'>
        <meta name = 'robots' content = 'index, follow'>
        <link rel = 'stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'src/npx tailwindcss -i ./static/src/input.css -o ./static/src/output.cssoutput.css' %}">
        <link rel="stylesheet" href="{% static 'src/styles.css' %}">
        <link rel = 'stylesheet' href ="{% static 'properties_pages.css' %}">

        <script src="https://cdn.tailwindcss.com"></script>

        <title> {{ title }}</title>
    </head>

    <body>
        <header class="bg-[#2C3E50]">
            <div class='hidden md:flex justify-between mx-3'>
                <div class='font-magnolia text-red-500 mt-4'><p><i class="bi bi-geo-alt"></i> Plot 1 Platform Road Lugbe FCT Abuja Nigeria.</p></div>
                <div class='flex justify-evenly w-1/4 text-red-500 mt-4'>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a></p>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a></p>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a></p>
                        <p class='bg-white rounded-full px-2 py-1'><a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a></p>
                </div>
            </div>
            <nav class="flex justify-between items-center w-[92%]  mx-auto">
                <div class="m-4 ml-8 w-2/4 md:ml-4">
                    <a href='/'><img src="{% static 'platform_logo (2).png' %}" alt="Platform Logo" class='w-2/4 h-auto'></a>
                </div>

                <div class="nav-links duration-500 w-full pl-4 bg-white bg-opacity-80 md:bg-transparent absolute md:static min-h-[60vh] md:min-h-fit left-0 top-[-100%] z-20">
                    <ul class="flex md:flex-row flex-col md:justify-evenly md:gap-[1vw] gap-4 mt-4 md:mt-0 font-magnolia text-red-500">
                        <li>
                            <a class='hover:text-white text-xl' href = '/'> Home </a>
                        </li>
                        
                        <li>
                            <a class='hover:text-white text-xl' href = '{% url 'about_us' %}'> About Us </a>
                        </li>
                        <li>
                            <a class='hover:text-white text-xl' href = '{% url 'services' %}'> Services </a>
                        </li>
                        <li class='relative group'>
                            <a class='hover:text-white text-xl' href = '#'> properties </a>
                            <ul class="absolute left-0 hidden group-hover:block group-focus-within:block bg-inherit mt-2 shadow-lg rounded-lg w-40">
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'idu' %}">Idu</a></li>
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'kuje' %}">Kuje</a></li>
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'phase5' %}">Phase 5</a></li>
                                <li><a class="block px-4 py-2 hover:bg-red-500 hover:text-white" href="{% url 'phase6' %}">Phase 6</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class='hover:text-white text-xl' href = "{% url 'contact' %}"> Contacts </a>
                        </li>
                    </ul>
                </div>
                <div class='text-red-500 absolute right-10 z-20'>
                    <i onclick='onToggleMenu(this)' name='menu' class='bi bi-list text-2xl cursor-pointer md:hidden'></i>
                </div>
            </nav>
        </header>

        <section class="mt-4 px-4">
            <div>
                <div class="font-magnolia text-[#333]">
                    <h2 class="text-red-500 text-xl mb-2"> Secure Your Piece of Paradise in Aco Lugbe, Abuja</h2>
                    <div class='flex w-full lg:w-[90%] justify-between'>
                        <p class='text-sm'><i class="bi bi-geo-alt"></i> Lugbe OFf Airport Road Abuja Nigeria </p>
                        <p class='text-sm'> ₦1,500,000 - ₦2,500,000 </p>
                    </div>
                </div>
                <div class='relative overflow-hidden w-full lg:w-[90%] h-[90vh] mt-2'>
                    <div id='carousel' class='flex transition-transform duration-500 ease-in-out h-[100%]'>
                        <div class='carousel-item w-full h-[90%]'>
                            <img src="{% static '10.jpg' %}" alt='slide1' class='w-full h-full object-cover'>
                        </div>
                        <div class='carousel-item w-full h-[90%]'>
                            <img src="{% static 'IMG_7675.PNG' %}" alt='slide2' class='w-full h-full object-cover'>
                        </div>
                        <div class='carousel-item w-full h-[90%]'>
                            <img src="{% static '11.jpg' %}" alt='slide3' class='w-full h-full object-cover'>
                        </div>
                    </div>
                     <!-- Previous Button -->
                    <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded ml-4">
                        &lt;
                    </button>

                     <!-- Next Button -->
                    <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2 rounded mr-4">
                        &gt;
                    </button>
                </div>

                <div class='w-full lg:w-[90%] '>
                    <div class='relative'>
                        <div class='flex justify-evenly'>
                            <div class='p-2'>
                                <img src="{% static '10.jpg' %}" alt='slide1' class='w-full h-full object-cover rounded-sm'>
                            </div>
                            <div class='p-2'>
                                <img src="{% static 'IMG_7675.PNG' %}" alt='slide1' class='w-full h-full object-cover rounded-sm'>
                            </div>
                            <div class='p-2'>
                                <img src="{% static '11.jpg' %}" alt='slide1' class='w-full h-full object-cover rounded-sm'>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <table class='font-magnolia text-red-500 border-Collapse border border-red-500 w-full lg:w-[90%] h-10 mb-2 bg-slate-100'>
                        <tbody>
                            <tr>
                                <td><i class='bx bx-bed'></i> 4 Bedroom</td>
                                <td><i class='bx bx-bath'></i> 4 Bathroom</td>
                                <td><i class='bx bxs-car-garage'></i> 2 Parking space</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class='w-full lg:w-[90%] bg-slate-100 mt-4'>
                    <h2 class="font-magnolia text-red-500 text-xl mb-2"> Interested in learning more about this property? Message us directly. </h2>
                    <div class='font-magnolia'>
                        <form method = 'POST' class='text-[#333]'>
                            {% csrf_token %}
                            <tr>
                                <td>
                                    <input type = 'text' name='name' maxlength='254' required id='id_name' placeholder='Enter Name' class='h-10  w-full md:w-[80] mb-4 border border-red-500 focus:outline-none rounded-b-md text-[#333]'>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type = 'text' name='phone' maxlength='254' required id='id_phone' placeholder='Enter Phone Number(Whatsapp)' class='h-10 w-full md:w-[80] mb-4 border border-red-500 focus:outline-none rounded-b-md text-[#333]'>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea name='message' cols='40' rows='10' required id='id_message' placeholder='I am interested in this property located at Lugbe OFf Airport Road Abuja Nigeria' class='w-full md:w-[80] mb-2 border border-red-500 focus:outline-none rounded-b-md text-[#333]'></textarea>
                                </td>
                            </tr>
                            <div class='mb-2'>
                                <button type = 'submit' class='bg-red-500 hover:bg-red-600 text-white cursor-pointer py-2 px-4 rounded'> Submit </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class='font-magnolia text-[#333] mb-4'>
                    <p class='whitespace-pre-line'>
                        Unlock Your Dream Home: Prime Land in Aco Lugbe!

                        Size: 300sqm to 400sqm

                        Ready to build your dream home? Look no further! Our prime land in Aco Lugbe offers the ideal opportunity, with plots ranging from 300sqm to 400sqm. Choose the 300sqm plot for a spacious 4-bedroom terrace duplex with a BQ, or opt for the 400sqm plot to create a luxurious bungalow penthouse with a BQ.

                        Located in prestigious Aco Lugbe, enjoy modern amenities including electricity, water supply, 24/7 security, well-maintained roads, and street lighting.

                        Don't miss out! Prices start at just ₦1.5 million for the 200sqm plot and ₦2.5 million for the 400sqm plot. Secure your future today!
                    </p>
                </div>

            </div>
        </section>

        <div class="elfsight-app-7280a001-6f91-474c-a873-d4897e2079cd" data-elfsight-app-lazy></div>
        <footer class='relative bg-[#2C3E50]'>
            <!-- Background Blur and Dark Overlay -->
            <div class="absolute inset-0 bg-black opacity-20"></div>
            <div class="absolute inset-0 backdrop-blur-sm"></div>
            <!-- content container -->
            <div class='relative footer h-[100%] md:h-[60vh] items-center md:flex flex-col justify-center'>
                <div class='m-2 w-full block md:flex justify-evenly  font-magnolia text-red-500'>
                    <div class='w-4/4 mb-5 mt-2'>
                        <img src = '{% static 'platform_logo.PNG' %}' alt = 'Logo' class = 'logo rounded-full w-1/4 mx-5 pt-2'>
                        <p class='whitespace-pre-line'>
                            Platform Estates, a leading real estate
                            firm in Abuja, offers comprehensive real
                            estate services. With an experienced
                            team, we excel in sales, purchases,
                            rentals, and property management.
                        </p>
                    </div>
    
                    <div class='mb-5'>
                        <h3 class='text-lg text-white pb-2'> Office Address </h3>
                        <p class='whitespace-pre-line'>
                            Plot 1 Platform Road
                            By Conoil Filling Station
                            Off Airport Road Lugbe
                            FCT Abuja Nigeria.
                            info@platformestates.com
                            <i class = "bi bi-telephone-fill"></i> +234 915 555 5531
                            <i class = "bi bi-telephone-fill"></i> +234 812 090 0099
                        </p>
                    </div>
    
                    <div class='mb-5'>
                        <h3 class='text-lg text-white pb-2'> Links </h3>
                        <ul>
                            <li class='pb-1 hover:text-white'><a href = '/'> Home </a></li>
                            <li class='pb-1 hover:text-white'><a href = "{% url 'about_us' %}"> About Us </a></li>
                            <li class='pb-1 hover:text-white'><a href = "{% url 'services' %}"> Services </a></li>
                            <li class='pb-1 hover:text-white'><a href = "{% url 'idu' %}"> Properties </a></li>
                            <li class='pb-1 hover:text-white'><a href = "{% url 'blog' %}"> Blog </a></li>
                            <li class='pb-1 hover:text-white'><a href = "{% url 'contact' %}"> Contacts </a></li>
                        </ul>
                    </div>
    
                    <div class='mb-5'>
                        <h3 class='text-lg text-white pb-2'> Newsletter </h3> 
                        <form method="post" class='w-3/4 md:w-full text-red-500 outline-none'>
                            {% csrf_token %}
                            {{ newsletter.email }}
                            <button class='absolute text-2xl' type = 'submit'> <i class='bx bx-right-arrow-alt'></i> </button>
                        </form> 
                        
                        <div class='flex justify-evenly text-red-500 mt-5'>
                            <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://www.facebook.com/profile.php?id=100089944118473'><i class='bx bxl-facebook'></i></a></p>
                            <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://twitter.com/Platformestate3'><i class='bx bxl-twitter'></i></a></p>
                            <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://www.instagram.com/platformestate/'><i class='bx bxl-instagram'></i></a></p>
                            <p class='bg-white hover:bg-[#2C3E50] rounded-full px-2 py-1'><a href = 'https://ng.linkedin.com/in/platform-estates-bb3751263'><i class='bx bxl-linkedin'></i></a></p>                
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="relative z-20 block md:flex flex-col md:items-center">
                <hr class='border-red-500 w-full md:w-3/4'/>
                <p class = 'copyright font-magnolia text-red-500'>
                    Platform Estates and Facility Management Limited &copy; {{ date|date:'Y' }} - All Rights Reserved
                </p>
            </div>
    
            </footer>
    
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>

        <!-- This script below is for the navbar-->
        <script>
            const navLinks = document.querySelector('.nav-links')
            function onToggleMenu(e){
                e.name = e.name === 'menu' ? 'close' : 'menu'
                navLinks.classList.toggle('top-[0%]')
            }
        </script>

        <!-- This is for the carousel features which involve the change of slide -->
        <script src="carousel.js"></script>
    </body>
</html>
