*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(about1.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.partnership{
background-image: url(7.jpg);
background-repeat: no-repeat;
background-size: cover;
}

footer{
    background-image: url(affordable2.jpeg);
    background-repeat: repeat;
    background-size: contain;
}
.form-control{
    width: 100%;
    color: #ff7474;
    font-family: 'Magnolia Script', sans-serif;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff7474;
    border-bottom-right-radius: 1px;
    border-color: #ff7474;
}
