*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.pre_head{
	position: absolute;
	top: 0;
	left: 0;
	height: 7%;
	width: 100%;
	z-index: 2;
	background: linear-gradient(to right,#ff6666, #ffad99);
	color: #fff;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}
.pre_head p{
	padding-top: 1.1%;
	text-align: center;
	position: relative;
}

.pre_head .address{
	position: absolute;
	left: 0;
	padding-left: 0.5%;
	padding-top: 0.7%;
	transform: translateX(2%)
}

.pre_head .date{
	display: inline-block;
	padding-top: 0.7%;
}

.pre_head .profile_links{
	position: absolute;
	right: 0;
	padding-right: 0.5%; 
}
.profile_links i{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        font-size: .8em;
        color: #000;
        background: #fff;
        margin-right: 1em;
        cursor: pointer;
}
@media only screen and (max-width: 768px){
	.pre_head p {
		padding-top: 0.9em; /* to reduce padding for smaller screens */
	}
	.pre_head .address,
	.pre_head .date,
	.pre_head .profile_links {
		display: inline; /* display element as blocks */
		position: static;
		padding: 0.3em 0;
		margin: 0.3em 0;
	}
	.pre_head .address{
		font-size: 0.9em;
		position: absolute;
		left: 0;
		padding-left: 0.5%;
		padding-top: 0.9em;
		transform: none; /* reset transform*/
	}
	.pre_head .profile_links{
		position: absolute;
		right: 0;
		padding-right: 0.5%;
	}
	.pre_head .date{
		display: none;
	}
}


header{
	height: 100vh;
	position: relative;
	width: 100%;
	background: url(header_background2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}
header img{
	width: 30%;
	height: auto;
	position: absolute;
	top: 12%;
	left: 5%;
}

nav{
	position: absolute;
	top: 12%;
	transform: translateY(-50%);
	right: 2.08%;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}
nav li{
	margin-left: .8;
	text-transform: uppercase;
}
nav a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 0.6em 1em;
	border-radius: 0.3em;
	cursor: pointer;
	border: 3px solid transparent;
	transition: 0.2s;
}
nav a:hover{
	color: #FFAD99;
}
nav a:hover, nav a.active{
	border-bottom-color: #FFAD99;
}
header .menu{
	display: block;
	cursor: pointer;
}
header .menu div{
	width: 1.6em;
	height: 0.2em;
	margin: 0.2em;
	background: #000;
}

header .quote{
	position: absolute;
	bottom: 4.4em;
	right: 3.1em;
	padding: 0.6em;
	background: transparent;
	box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
	color: #fff;
	max-width: 90%;
	text-align: center;
}
header .quote p{
    font-size: 2vw;
    width: 44em;
    font-family: 'Tangerine', serif;

}
header .quote p:hover{
    color: #FFAD99
}

@media only screen and (max-width: 1024px){
    header img{}

    nav{
        display: none;
    }
    

	header .quote{
		bottom: 3.1em;
		right: 1.9em;
	}


}

@media only screen and (max-width: 768px) {
    header img{
        width: 30%;
        max-width: 40%; 
        left: 2%;
        top: 5.8em;
    }

	nav{
		display: none;
	}

	

	header .quote{
		bottom: 3em;
		right: 1.9em;
	}
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right,#ff6666, #ffad99);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 14px;
    line-height: 20px;
}

footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
footer .logo{
    width: 80px;
    margin-bottom: 30px;
}

footer .col{
    flex-basis: 25%;
    padding: 10px;
}

footer .col:nth-child(2), footer .col:nth-child(3){
    flex-basis: 15%;
} 

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.col .email_id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

footer form i{
    font-size: 18px;
    margin-right: 10px;
}

footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer form button .bx-right-arrow-alt{
    font-size: 16px;
    color: #fff;
}

footer .social_icons i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

footer .copyright{
    text-align: center;
}

footer .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

footer .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }

    footer .col{
        flex-basis: 100%;
    }
    
    footer .col:nth-child(2), footer .col:nth-child(3){
        flex-basis: 100%;
    } 
}
