*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url(listing_detail_header.jpg);
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
}
div.property{
    width: 90%;
    position: relative;
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 4em;
}
div.property .title{
    width: 65%;
    position: relative;
}
div.property .title h3{
    color: #E98F50;
    font-family: 'Tangerine', serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
}
div.property .price{
    margin-bottom: 1em;
}
div.property .price span{
    color: #E98F50;
    font-weight: 400;
    position: absolute;
    right: 0;
}
div.img_heading img{
    width: 65%;
    height: 40%;
    margin-bottom: 1.2em;
}
div.sub_img{
    display: flex;
    width: 65%;
    margin-bottom:1.2em;
}
div.sub_img img{
    height: 30vh;
    width: 95%;
    padding: 5px;
}
table{
    position: relative;
    table-layout: fixed;
    width: 65%;
    height: 80%;
    border-collapse: collapse;
    font-size: 1em;
    background: #f5f5f5cf;
    margin-bottom: 1.2em;
}
table, td{
    border: 0.5px solid #ccc;
    text-align: center;
    padding: 10px;
}
table td i{
    color: #E98F50;
}

div.contact{
    margin-bottom: 1.2em
}
div.contact h3{
    color: #333;
    font-family: 'Tangerine', serif;
    margin-bottom: 1.2em;

}
input[type=text], textarea{
    border-radius: 3px #333;
    border-top-right-radius: 5px solid;
    width: 80%;
    margin-bottom: 1.5em;
    display: block;
}
input[type=text]{
    height: 3.5em;
}
input[type=submit]{
    background: #E98F50;
    color: #fff;
    border: none;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    padding: 1em;
    cursor: pointer;
}
div.btn{
    width: 4.5em;
    background: #E98F50;
    height: 2em;
    cursor: pointer;
}

div.description{
    padding: 1.5em;
    border: 1px solid #f5f5f5cf;
    border-top-right-radius: 2em;
}
div.address{
    position: absolute;
    width: 30%;
    top: 0;
    right: 0;
    border: 1px solid #f5f5f5cf;
    height: 30%;
    padding: 1em;
    color: #333;
    background: #f5f5f5cf;
}
div.address tr td{
    height: 5%
}
div.address tr h5{
    font-size: 2em;
}