*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url(listing_detail_header.jpg);
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
}
div.property{
    width: 90%;
    position: realtive;
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 4em;
}
div.property h3{
    color: #E98F50;
    font-family: 'Tangerine', serif;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1.5em;
}
div.img_heading img{
    width: 60%;
    height: 40%;
    margin-bottom: 1.5em;
}