*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url("services.46f2ca1d4d1f.jpg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.brief{
    margin-top: 2em;
    position: relative;
    
}
div.brief h2{
	margin-left: 1.25em;
	font-family: 'Tangerine', serif;
	font-size: 2.2em;
	font-weight: 400;
	color: #E98F50;
}
div.briefing{
    margin-top: 1.25em;
	height: 40vh;
	position: relative;
	width: 100%;
    background: url("house1.d6d096adafda.jpg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.briefing::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 55%;
	height: 40vh;
	background-color: rgba(233, 143, 80, 0.5)
}
div.briefing .intro{
	position: absolute;
	width: 50%;
	font-size: 1.1em;
	font-family: 'poppins', sans-serif;
	color: #fff;
	margin-top: 4em;
	margin-left: 1.5em;
	line-height: 1.5em;
}
div.contact{
	background:  #E98F50;
	color: #fff;
	border: 1px solid #E98F50;
	outline: none;
	width: 7em;
	height: 2.5em;
	font-family: 'poppins', sans-serif;
	font-size: 1em;
	text-align: center;
	padding: 0.7em;
	border-radius: 0.15em;
	margin-top: 0.6em;
  }
  div.briefing .contact a{
	color:#fff;
	text-decoration: none;
  }
  div.briefing .contact a:hover{
	color: #fff;
  }
  div.briefing .contact:hover{
	  background: transparent;
	  border: 1px solid #E98F50;
	  cursor: pointer;
  }

  div.service_1{
	background: #f5f5f5cf;
	width: 100%;
	height: 70vh;
	position: relative;
	margin-top: 2em;
  }

div.serve_1, div.serve_2{
	position: absolute;
	display: flex;
}
div.serve_1 img, div.serve_2 img{
	height: 60vh;
	width: 100%;
	margin-top: 2em;
	margin-left: 3em;
	border-radius: 15px solid transparent;
}
div.serve_2 img{
	margin-right: 2em;
}
div.serve_1:hover img, div.serve_2:hover img {
    transform: scale(1.1);
	transition: transform 2s ease;
}
div.serve_1 div{
	margin-right: 2em;
}
div.serve_1 div h3, div.serve_2 div h3{
	font-family: 'Tangerine', serif;
	font-size: 2em;
	font-weight: 400;
	color: #E98F50;
	margin-top: 3em;
	margin-left: 2em;
}
div.serve_1 div p, div.serve_2 div p{
	font-size: 1em;
	font-family: 'poppins', sans-serif;
	color: #333;
	margin-top: 2em;
	margin-left: 4em;
	line-height: 2em;
}
div.service_2{
	width: 100%;
	height: 70vh;
	position: relative;
	margin-top: 2em;
  }

  @media only screen and (max-width: 1024px) {
	div.brief h2{
		font-size: 2em;
	}
	div.briefing .intro{
		font-size: 1.4em;
	}
	div.service_1, div.service_2{
		height: 50vh;
	}
	div.serve_1 div, div.serve_2 div{
		margin-top: 3.5em;
	}
	div.serve_1 img, div.serve_2 img{
		height: 30vh;
		width: 50%;
		margin-top: 5.5em;
		margin-left: 3em;
	}
	div.serve_1 div h3, div.serve_2 div h3{	
		font-size: 1.5em;
		margin-top: 4em;

	}
	div.serve_1 div p, div.serve_2 div p{
		font-size: 0.8em;
	}
	
  }

  @media only screen and (max-width: 768px) {
	div.brief h2{
		font-size: 1.5em;
	}
	div.briefing .intro{
		font-size: 1.2em;
	}
	div.serve_1 div h3, div.serve_2 div h3{	
		font-size: 1.2em;
		margin-top: 4em;

	}
	div.serve_1 div p, div.serve_2 div p{
		font-size: 0.8em;
	}
  }

  @media only screen and (max-width: 700px) {
	div.brief h2{
		font-size: 1.5em;
	}
	div.briefing .intro{
		font-size: 1em;
	}
	div.serve_1 img, div.serve_2 img{
		height: 30vh;
		width: 55%;
	}
	div.serve_1 div h3, div.serve_2 div h3{	
		font-size: 1em;
		margin-top: 4em;

	}
	div.serve_1 div p, div.serve_2 div p{
		font-size: 0.6em;
	}
  }

  @media only screen and (max-width: 590px) {
	div.brief h2{
		font-size: 1.5em;
	}

	div.brief h2{
		font-size: 1.8em;
	}
	div.briefing .intro{
		font-size: 0.8em;
		margin-top: 4em;
		line-height: 1em;
	}
	div.service_1, div.service_2{
		height: auto;
	}
	div.serve_1 div, div.serve_2 div{
		position: static;
	}
	div.serve_1, div.serve_2{
		position: relative;
		display: block;
		margin-top: 3em  ;
	}
	div.serve_1 img, div.serve_2 img{
		height: 30vh;
		width: 70%;
		margin-top: 2em;
		margin-left: 50;
		margin-right: 50;
	}
	div.serve_1 div h3, div.serve_2 div h3{	
		font-size: 1em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
  }
  @media only screen and (max-width: 460px) {
	div.serve_1 img, div.serve_2 img{
		height: 30vh;
		width: 100%;
		margin-top: 2em;
		margin-left: 2em;
  }
}
  
